# Base URL của Backend API
# Ví dụ: http://localhost:3000/api/v1
VITE_API_BASE_URL=

# Tên Cloud (Cloud Name) của tài khoản Cloudinary
# Có thể lấy trong Cloudinary Dashboard
# Ví dụ: my-cloud-name
VITE_CLOUDINARY_CLOUD_NAME=

# Upload Preset dùng để upload ảnh/video lên Cloudinary
# Cần tạo trong Cloudinary Settings > Upload Presets
# Ví dụ: mtbs_upload_preset
VITE_CLOUDINARY_UPLOAD_PRESET=
# ??
# Hỏi Phạm Tự VITE_CLOUDINARY_CLOUD_NAME, VITE_CLOUDINARY_UPLOAD_PRESET